/*
Author: Andrii Sivak
Template: mts_schema
*/

@import url('../mts_schema/style.css');

#sidebar .widget .h3 {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 20px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.widget li {
  list-style-type: none;
  height: 56px;
}

ul.menu_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: -33px 60px 0 0;
}

ul.menu_list li {
  margin: 10px;
}

ul.menu_list a {
  color: #777;
  font-size: 14px;
  text-decoration: none;
}
